  <!-- top header -->
<header class="header">
    <section class="intro">
        <div class="top-header bg-secondary pt-2 pb-1">
            <div class="container">
                <div class="row align-items-center">
                    <!-- social icons -->
                    <div class="col-lg-6 col-md-6 text-center text-md-left">
                        <span class="text-white">Connect With Us:</span>
                        <ul class="list-inline d-inline-block">
                            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="https://www.facebook.com/Icreatesites4u-690772767726869"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="https://twitter.com/Uxdeveloper82"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="https://www.linkedin.com/in/martin-fernandez-b465b47a"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="https://www.youtube.com/channel/UCymPTmdV5goU-IBMCAPaErQ"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <!-- mail and phone -->
                    <div class="col-lg-6 col-md-6 text-md-right text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item mx-0 border-right border-secondary"><a class="text-white d-inline-block px-lg-3 px-2" href="mailto:electronicsmf@aol.com">Electronicsmf@aol.com</a></li>
                            <li class="list-inline-item mx-0"><a class="text-white d-inline-block px-lg-3 px-2" href="callto:8639698248">Call Us Now: <span class="text-primary">863 969 8248</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_Navbar">
    </section>
</header>
   