@model IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/portfolio.css" rel="stylesheet" />

<!--  ======================= Start Main Area ================================ -->
    <main class="site-main">
        <!--  ======================= Project Area =============================  -->
        <section class="project-area">
            <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="project-title pb-5">
                                    <h1 class="text-uppercase title-h1">Recently Done Project</h1>
                                    <h1 class="text-uppercase title-h1">Quality Work</h1>
                                    <div id="searchWrapper">
                                        <input type="text"
                                               name="searchBar"
                                               id="searchBar"
                                               placeholder="search for a Project" />
                                    </div>
                                    <hr />
                                </div>
                                <!-- filter buttons -->
                                <div class="btn-container">
                                    <div class="row grid justify-content-center">
                                        <button type="button" class="btn btn-outline-primary filter-btn" data-id="all">
                                          all</button>
                                        <button type="button" class="btn btn-outline-danger filter-btn" data-id="Angular">
                                            AngularApp
                                        </button>
                                        <button type="button" class="btn btn-outline-info filter-btn" data-id="Javascript">
                                            Js Templates
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary filter-btn" data-id="Core">
                                            Asp.net Core
                                        </button>
                                        <button type="button" class="btn btn-outline-success filter-btn" data-id="Data">
                                            Data-tables
                                        </button>
                                        <button type="button" class="btn btn-outline-warning filter-btn" data-id="Templates">
                                            Templates
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="col-lg-12">
                                <div class="projects">
                                    <div id="card" class="row grid justify-content-center">
                                    </div>
                                </div>
                         </div>
                        <div class="row">
                            <div class="col-lg-12 pages">
                                <div class="pagenumbers" id="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!--  ======================= End Project Area =============================  -->
    </main>
<!--  ======================= End Main Area ================================ -->
@section Scripts{
    <script src="~/lib/js/portfolio.js"></script>
}
