@model IEnumerable<Member>

@{
    ViewData["Title"] = "Index";
}
<style>
    .card:hover img {
        transform: scale(1.2, 1.2);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
        opacity: 0.7;
    }

    .card img {
        transform: scale(1.0, 1.0);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
    }

    .card-img-wrapper {
        overflow: hidden;
        position: relative;
    }

    .member-icons {
        position: absolute;
        bottom: -30%;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        opacity: 0;
    }

    .card-img-wrapper:hover .member-icons {
        bottom: 0;
        opacity: 1;
    }

    .animate {
        transition: all 0.3s ease-in-out;
    }
</style>

<div class="d-flex" id="wrapper">

    <partial name="_AdminNavbar" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            <a class="btn btn-warning float-right" asp-controller="Members" asp-action="Edit">Add-Member</a>
        </nav>
            <div class="container-fluid">
                <div class="text-center mt-3">
                    <h2>Members</h2>
                    <hr />
                </div>
                <div class="row bg-light p-2">
                    <div class="table-responsive">
                        <table id="members" class="table table-stripped table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Username</th>
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>Created</th>
                                    <th>KnownAs</th>
                                    <th>lastActive</th>
                                    <th>Introduction</th>
                                    <th>Photo</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
       </div>
    </div>


            @section Scripts{
                <script>
                    $(document).ready(function () {
                        var members = $("#members").DataTable({
                            ajax: {
                                url: "/api/members",
                                dataSrc: ""
                            },
                            columns: [
                                { data: "id" },
                                { data: "userName", "width": "10%"},
                                { data: "gender","width": "10%"},
                                { data: "dateOfBirth","width": "10%"},
                                { data: "created", "width": "10%" },
                                { data: "knownAs", "width": "10%"},
                                { data: "lastActive", "width": "10%"},
                                { data: "introduction", "width": "40%" },
                                { data: "photo", "width": "10%"},
                                { data: "city", "width": "10%"},
                                { data: "country", "width": "10%" },
                                {
                                    data: "member",
                                    render: function (data, type, member) {
                                        return "<a class='btn btn-outline-success' href='/members/edit/"+ member.id + "'>Edit</a>";
                                    }
                                },
                                { data: "id",
                                  render: function (data) {
                                        return "<button class='btn btn-outline-danger js-delete' data-member-id=" + data + ">Delete</button>";
                                    }, "width": "40%"
                                }
                            ]
                        });
                        $("#members").on("click", ".js-delete", function () {
                            var button = $(this);
                            bootbox.confirm("Are you sure you want to delete this message?", function (result) {
                                if (result) {
                                    $.ajax({
                                        url: "/api/members/" + button.attr("data-member-id"),
                                        method: "DELETE",
                                        success: function () {
                                            button.parents("tr").remove();
                                        }
                                    });
                                }
                            });
                        });
                    });


                </script>

            }
