@model IEnumerable<Member>
@{
    ViewData["Title"] = "About";
}
<style>
    /*================
        Pagination-Area
=================*/    
    #searchBar {
        width: 100%;
        height: 32px;
        border-radius: 3px;
        border: 1px solid #eaeaea;
        padding: 5px 10px;
        font-size: 12px;
    }

    #searchWrapper {
        position: relative;
    }

        #searchWrapper::after {
            content: '🔍';
            position: absolute;
            top: 7px;
            right: 15px;
        }

 /* ===============
     Pagination-area
============*/
    .pagenumbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        .pagenumbers button {
            width: 50px;
            height: 50px;
            appearance: none;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #44AAEE;
            margin: 5px;
            transition: 0.4s;
            color: #FFF;
            font-size: 18px;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        }

            .pagenumbers button:hover {
                background-color: #44EEAA;
            }

            .pagenumbers button.active {
                background-color: #44EEAA;
                box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
            }
</style>
<section class="head">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 mt-xl-5">
                <div class="heading-title">
                    <h3 class="text-center">WHY US?</h3>
                </div>
                <hr />
                <div class="heading-title">
                    <h3 class="text-center">
                        The leader in website design
                    </h3>

                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 operations">
                    <div class="btn-group btn-group-sm operations__tab-container">
                        <button class="btn btn-secondary operations__tab operations__tab--1 operations__tab--active"
                                data-tab="1">
                            <span>01</span>Digital Services
                        </button>
                        <button class="btn btn-secondary operations__tab operations__tab--2" data-tab="2">
                            <span>02</span>Consulting Services
                        </button>
                        <button class="btn btn-secondary operations__tab operations__tab--3" data-tab="3">
                            <span>03</span>Technology Services
                        </button>
                    </div>
                    <div class="operations__content operations__content--1 operations__content--active">
                        <h5 class="text-center operations__header">
                            Data-rich solutions and customer-driven innovation.
                        </h5>
                        <p class="lead">
                            MANY PEOPLE HAVE THEIR FAVORITE BOUTIQUES, SHOPS, RESTAURANTS, ETC. MOST GO TO 
                            THOSE PLACES IN PARTICULAR, NOT ONLY FOR THE GREAT PRODUCT BUT FOR THE CUSTOMER 
                            SERVICE AS WELL. BEING IN POLK COUNTY IS PERFECT FOR THIS MINDSET BECAUSE IT IS 
                            GROWING SO QUICKLY, YET IT STILL GIVES ITS RESIDENTS A SMALL TOWN FEEL. AT 
                            ICREATESITES4U, GIVING OUR CLIENTS THAT FEELING IS REALLY IMPORTANT. WE STRIVE TO
                            BE HONEST, COMPLETELY TRANSPARENT AND DO OUR BEST TO MAKE OUR CLIENTS FEEL 
                            COMFORTABLE, WHILE STILL GIVING PROFESSIONAL AND EXCELLENT SERVICE. WE WILL GET 
                            TO KNOW YOU AND UNDERSTAND YOUR GOALS AND IDEAS TO HELP ACCELERATE THE GROWTH OF 
                            YOUR BUSINESS.
                        </p>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-xs-3 operations__content operations__content--2">
                        <h5 class="operations__header">
                            Buy a home or make your dreams come true, with instant loans.
                        </h5>
                        <p class="lead">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.
                        </p>
                    </div>
                    <div class="col-lg-12 col-sm-6 col-xs-3 operations__content operations__content--3">
                        <h5 class="operations__header">
                            No longer need your account? No problem! Close it instantly.
                        </h5>
                        <p class="lead">
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia deserunt mollit anim id est laborum. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat.
                        </p>
                    </div>
                    <a class="btn btn-outline-primary btn-sm text-uppercase" href="/Tools/Index">Tools We Use</a>
                    <a class="btn btn-outline-success btn-sm text-uppercase" href="/MyMessages/New">Send Message</a>
                    <a class="btn btn-outline-danger btn-sm text-uppercase" href="/Portfolio/Index">Portfolio</a>


       
            </div>
           
        </div>
    </div>
</section>
<div class="text-center cookie-message"></div>

<div id="myteam" class="container mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="heading-title">
                <h3 class="text-center">Meet The Team</h3>
            </div>
            <hr />
        </div>
    </div>
    <div id="searchWrapper">
        <input type="text"
               name="searchBar"
               id="searchBar"
               placeholder="search for a Name" />
    </div>
    <div id="members" class="row"></div>
</div>
     
@section scripts {
    <script>
        const membersList = document.getElementById('members');
        const searchBar = document.getElementById('searchBar');
        const pagination_element = document.getElementById('pagination');
        let membersCharacters = [];

        let current_page = 1;
        let rows = 5;
        // Search Or Filter Members
        searchBar.addEventListener('keyup', (e) => {
            const searchString = e.target.value.toLowerCase();
            const filteredMembers = membersCharacters.filter(members => {
                return members.userName.toLowerCase().includes(searchString) ||
                       members.knownAs.toLowerCase().includes(searchString);
            });
            displayMembers(filteredMembers);

        })
        // Display the Members
        const loadMembers = async () => {
            try {
                const resp = await fetch('/api/members');
                membersCharacters = await resp.json();
                displayMembers(membersCharacters);
            } catch (err) {
                console.log(err);
            }
        };

        const displayMembers = (members) => {
            const htmlString = members.map((members) => {
                return `
                       <div class="col-lg-3 col-md-3 col-sm-6">
                           <div class="card mb-4">
                                <div class="card-img-wrapper">
                                    <img style="width:100%" class="img-thumbnail" src="/Image/${members.photo}" alt="${members.knownAs}" />
                                    <ul class="list-inline member-icons animate text-center">
                                        <li class="list-inline-item">
                                            <a class="btn btn-primary btn-sm" href="/Home/details/${members.id}">
                                                <i class="fa fa-user"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body p-1">
                                <h6 class="card-title text-center mb-1">
                                    <i class="fa fa-user"></i>
                                    KnownAs: ${members.knownAs},
                                    LastActive: ${members.lastActive}
                                </h6>
                                <p class="card-text text-muted text-center">From: ${members.city}</p>
                                <p>software developer<p>
                                    <ul class="list-inline-item text-center">
                                        <li class="list-inline-item">
                                            <a class="btn btn-primary btn-sm" target="_blank" href="https://www.facebook.com/Icreatesites4u-690772767726869">
                                                <i class="fa fa-facebook fa-2x"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="btn btn-primary btn-sm" target="_blank" href="https://github.com/UxDeveloper82">
                                                <i class="fa fa-github fa-2x"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="btn btn-primary btn-sm" target="_blank" href="https://www.google.com/maps/uv?pb=!1s0x88e77ed68df2032d%3A0x39473d14c2e9959e!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOWSurZuJ_E8tZErlNRDEapgRV6UYv4kO7xmP74%3Dw300-h160-k-no!5sICreateSites4u%2C%20Orlando%2C%20FL%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipOWSurZuJ_E8tZErlNRDEapgRV6UYv4kO7xmP74&hl=en&sa=X&ved=2ahUKEwikyseY8f7tAhUwxVkKHQVDAHcQoiowE3oECCAQAw">
                                                <i class="fa fa-google fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                       </div>
                 </div>
            </div>
            <div class="pagenumbers" id="pagination"></div>
                       `;
            }).join('');
            membersList.innerHTML = htmlString;
        }

        loadMembers();

        //Sticky navigation
        //Get Values
        const services = document.querySelector('#myteam');
        const initialCoords = services.getBoundingClientRect();
        const nav = document.querySelector('.navbar');

        window.addEventListener('scroll', function () {
            if (window.scrollY > initialCoords.top)
                nav.classList.add('sticky');
            else
                nav.classList.remove('sticky');
        });
      
    </script>
    <script src="~/lib/js/tabs.js"></script>
}