@{

    ViewData["Title"] = "Home Page";
}


<!--  ====================== Start Services Area =============================  -->
<!-- =========================== Thumbnail Gallery ========================================== -->
<section id="thumbgallery">
    <div class="text-center">
        <h2 class='font-weight-bold'>Lets get started with your next project</h2>
        <h2 class="font-weight-bold">Better design</h2>
        <p class="font-weight-bold">Better experiences.</p>
        <a asp-area="" asp-controller="MyMessages" asp-action="New" class="btn btn-lg btn-rounded btn-primary">Send Message</a><br>
    </div>
    <div class="container">
        <div class="main-img">
            <img src="~/images/img/img1.jpeg" id="current" />
        </div>
        <div class="imgs">
            <img src="~/images/img/img1.jpeg" />
            <img src="~/images/img/img2.jpeg" />
            <img src="~/images/img/img3.jpeg" />
            <img src="~/images/img/img4.jpeg" />
            <img src="~/images/img/img5.jpeg" />
            <img src="~/images/img/img6.jpeg" />
            <img src="~/images/img/img7.jpeg" />
            <img src="~/images/img/img8.jpeg" />
        </div>
    </div>
</section>

<section id="services" class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center services-title">
                <h1 class="text-uppercase title-text">Services I Offer</h1>
                <p class="para">
                    Start Today I can help you build better websites using the Bootstrap framework!
                    I can start customizing, no strings attached!
                </p>
                <hr />
            </div>
        </div>
        <div class="container services-list">
            <div class="row">
                <div id="services" class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services">
                        <div class="sevices-img text-center py-4">
                            <img src="~/images/services/s1.png" alt="Services-1" class="img-fluid" />
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">FullStack</h5>
                            <p class="card-text text-secondary">
                                My themes updated regularly to
                                keep them bug free!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services">
                        <div class="sevices-img text-center py-4">
                            <img src="~/images/services/s2.png" alt="Services-2" class="img-fluid" />
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">ux/ui desing</h5>
                            <p class="card-text text-secondary">
                                All dependencies are kept current to
                                keep things fresh.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services">
                        <div class="sevices-img text-center py-4">
                            <img src="~/images/services/s3.png" alt="Services-3" class="img-fluid" />
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">webApp design</h5>
                            <p class="card-text text-secondary">
                                You can use my design as is, or you can make changes!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="services">
                        <div class="sevices-img text-center py-4">
                            <img src="~/images/services/s4.png" alt="Services-4" class="img-fluid" />
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-uppercase font-roboto">seo</h5>
                            <p class="card-text text-secondary">
                                I can increase the quality and quantity of website traffic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="card-area">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Template <small>Core Features</small></h2>
                    <hr />
                </div>
            </div>
        </div>
        <div id="card" class="row"></div>
    </div>
</section>
<!--  ======================== Testimonials About Me Area ==============================  -->
<section class="testimonials bg-info">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="about-title">
                    <h1>Our Partners</h1>
                    <p class="para text-center">
                        Subscribe easy tutorials channel to wacth more videos
                    </p>
                </div>
            </div>
        </div>
        <div id="owl-demo">
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/1.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/2.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/3.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle" src="~/images/partners/4.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/2.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/1.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  ======================== End About Me Area ==============================  -->
<!--  ========================== Subscribe me Area ============================  -->
@*<div class="bg-faded pt90 pb90">
    <div class="container">
        <div class="title-heading1 mb50">
            <h3>Subscribe to our newsletter</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 mr-auto ml-auto">
                <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                    <div class="input-group input-group-lg">

                        <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@
<!--  ====================== End Services Area =============================  -->
<section id="contact" class="bg-lightblue mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>863-969-8248</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:electronicsmf@aol.com">Electronicsmf@aol.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!--  ========================== End Subscribe me Area ============================  -->
<section class="hours parallax--bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Hours</h2>
                <hr>
                <p>Monday-Friday: 7:30 am - 6:00 pm<p>
                    <hr>
                <p>Saturday: 7:30 am - noon</p>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- footer-area -->
@section Scripts {
    <script src="~/lib/js/owl.js"></script>
    <script src="~/lib/js/repairs.js"></script>
    <script src="~/lib/js/gallery.js"></script>
    <script src="~/lib/js/parallaxbg.js"></script>
    
}
