@{

    ViewData["Title"] = "Home Page";
}


<!--  ====================== Start Services Area =============================  -->
<!-- slider -->
<section id="slider-area">
    <div class="hero-slider">
        <!-- slider item -->
        <div class="hero-slider-item bg-cover hero-section" data-background="images/slider/banner-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
                        <h4 class="mb-0 letter-spacing">We are here to</h4>
                        <h1 class="mb-4">Planning Business</h1>
                        <p class="mb-5">CUSTOM WEBSITE DESIGN - IMPRESS YOUR CUSTOMERS AND PARTNERS -  specialize in creating mobile-friendly user experiences that are optimized for Google search.</p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-primary-outline" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".4">more details</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider item -->
        <div class="hero-slider-item bg-cover hero-section" data-background="images/slider/banner-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
                        <h4 class="mb-0 letter-spacing">We are here to</h4>
                        <h1 class="mb-4">Planning Business</h1>
                        <p class="mb-5">Stand out from the competition with an online presence</p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-primary-outline" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".4">more details</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider item -->
        <div class="hero-slider-item bg-cover hero-section" data-background="images/slider/banner-3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">
                        <h4 class="mb-0 letter-spacing">We are here to</h4>
                        <h1 class="mb-4">Planning Business</h1>
                        <p class="mb-5">We specialize in creating high-quality websites that add value toward achieving your business goals.</p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-primary-outline" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".4">more details</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider item -->
        <div class="hero-slider-item bg-cover hero-section" data-background="images/slider/banner-4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-duration-in=".3" data-animation-in="fadeInRight" data-delay-in=".1">
                        <h4 class="mb-0 letter-spacing">We are here to</h4>
                        <h1 class="mb-4">Planning Business</h1>
                        <p class="mb-5">We are a company made up of caring friends who are as passionate about technology as we are about people.</p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-primary-outline" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".4">more details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /slider -->
<!-- banner feature -->
<section class="translate-top">
    <div class="container">
        <div class="row">
            <!-- feature item -->
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="bg-white py-5 px-4 text-center box-shadow transition hover-bg-dark active">
                    <div class="icon-bg mb-4 water-wave">
                        <i class="fa fa-diamond icon text-primary"></i>
                    </div>
                    <h4 class="mb-4">Business Solution</h4>
                    <p>
                        My themes updated regularly to
                        keep them bug free!
                    </p>
                </div>
            </div>
            <!-- feature item -->
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="bg-white py-5 px-4 text-center box-shadow transition hover-bg-dark">
                    <div class="icon-bg mb-4 water-wave">
                        <i class="fa fa-bar-chart icon text-primary"></i>
                    </div>
                    <h4 class="mb-4">Market Research</h4>
                    <p>Lorem ipsum dolor sit amet constur adipelit sed.</p>
                </div>
            </div>
            <!-- feature item -->
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="bg-white py-5 px-4 text-center box-shadow transition hover-bg-dark">
                    <div class="icon-bg mb-4 water-wave">
                        <i class="fa fa-lightbulb-o icon text-primary"></i>
                    </div>
                    <h4 class="mb-4">Business Strategy</h4>
                    <p>Lorem ipsum dolor sit amet constur adipelit sed.</p>
                </div>
            </div>
            <!-- feature item -->
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="bg-white py-5 px-4 text-center box-shadow transition hover-bg-dark">
                    <div class="icon-bg mb-4 water-wave">
                        <i class="fa fa-dashboard icon text-primary"></i>
                    </div>
                    <h4 class="mb-4">Speed Optimization</h4>
                    <p>Lorem ipsum dolor sit amet constur adipelit sed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /banner feature -->
<!--  ======================== Testimonials About Me Area ==============================  -->
<section class="partners">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 text-center services-title">
                <div class="about-title">
                    <h1 class="text-uppercase title-text">Our Partners</h1>
                </div>
            </div>
        </div>
        <div id="owl-demo">
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/1.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/2.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/3.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle" src="~/images/partners/4.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/2.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="row">
                        <div class="card col-lg-6 col-xs-12 ml-md-5">
                            <img class="img-fluid circle user" src="~/images/partners/1.png" alt="img1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center cookie-message"></div>
<section class="elementor elementor-standard pt50 pb20 mt-5 elementor-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center services-title">
                <div class="about-title">
                    <h1 class="text-uppercase title-text">WebSite Services I Offer</h1>
                </div>
                <p class="para">
                    Start Today I can help you build better websites using the Bootstrap framework!
                    I can start customizing, no strings attached!
                </p>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb40">
                <h1>What i can do for you?</h1>
                <p class="text-black-50">
                    It takes years and multiple projects to understand the process of creating
                    and establishing a business. Your website is the first door that your future
                    clients will step through. Find out how we can help make that a great experience.
                </p>
                <a asp-area="" asp-controller="MyMessages" asp-action="New" class="btn btn-lg btn-rounded btn-primary">Send Message</a><br>
            </div>
            <div class="col-lg-4 col-md-6 mb40">
                <ul class="list-unstyled latest-news">
                    <li class="media">
                        <div class="service-container">
                            <div class="service-icon">
                                <i class="fa fa-pie-chart"></i>
                            </div>
                        </div>
                        <div class="media-body m-2">
                            <h4 class="card-title text-uppercase font-roboto">Marketing</h4>
                            <h5 class="mt-0 mb-1">Marketing through content can be powerful and highly effective if done right. Keyword density and relations...</h5>
                        </div>
                    </li>
                    <li class="media my-3">
                        <div class="service-container">
                            <div class="service-icon">
                                <i class="fa fa-pie-chart"></i>
                            </div>
                        </div>
                        <div class="media-body m-2">
                            <h4 class="card-title text-uppercase font-roboto">Social Media</h4>
                            <h5 class="mt-0 mb-1">Need help starting and maintaining a Social Media campaign? Start focusing on a dedicated customer fan base.</h5>
                        </div>
                    </li>
                    <li class="media">
                        <div class="service-container">
                            <div class="service-icon">
                                <i class="fa fa-hand-paper-o"></i>
                            </div>
                        </div>
                        <div class="media-body m-2">
                            <h4 class="card-title text-uppercase font-roboto">Marketing</h4>
                            <h5 class="mt-0 mb-1">Need a writer to create unique content for your website, book report, or marketing content? Look no further!</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb40">
                <ul class="list-unstyled latest-news">
                    <li class="media">
                        <div class="service-container">
                            <div class="service-icon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="media-body m-2">
                            <h4 class="card-title text-uppercase font-roboto">SEO Power</h4>
                            <h5 class="mt-0 mb-1">Get more website traffic, customers, and more online visibility with our powerful SEO services.</h5>
                        </div>
                    </li>
                    <li class="media my-3">
                        <div class="service-container">
                            <div class="service-icon">
                                <i class="fa fa-code"></i>
                            </div>
                        </div>
                        <div class="media-body m-2">
                            <h4 class="card-title text-uppercase font-roboto">WebApp Development</h4>
                            <h5 class="mt-0 mb-1">Your website has to impress your visitors within just a few seconds. Let us build you a captivating website.</h5>
                        </div>
                    </li>
                    <li class="media">
                        <div class="service-container">
                            <div class="service-icon">
                                <i class="fa fa-cloud"></i>
                            </div>
                        </div>
                        <div class="media-body m-2">
                            <h4 class="card-title text-uppercase font-roboto">Amazing Websites</h4>
                            <h5 class="mt-0 mb-1">Local businesses in Polk county such as Davenport you can find the best bang for their buck here.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="banner">
    <div class="container">
        <div class="row grid justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="about-title">
                    <h1>Take Your Website To The Next Level!</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  ======================== End About Me Area ==============================  -->
@*<section id="services" class="services-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center services-title">
                    <div class="about-title">
                        <h1 class="text-uppercase title-text">WebSite Services I Offer</h1>
                    </div>
                    <p class="para">
                        Start Today I can help you build better websites using the Bootstrap framework!
                        I can start customizing, no strings attached!
                    </p>
                    <hr />
                </div>
            </div>
            <div class="container services-list">
                <div class="row">
                    <div id="services" class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="~/images/services/s1.png" alt="Services-1" class="img-fluid" />
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">FullStack</h5>
                                <p class="card-text text-secondary">
                                    My themes updated regularly to
                                    keep them bug free!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="~/images/services/s2.png" alt="Services-2" class="img-fluid" />
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">ux/ui desing</h5>
                                <p class="card-text text-secondary">
                                    All dependencies are kept current to
                                    keep things fresh.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="~/images/services/s3.png" alt="Services-3" class="img-fluid" />
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">webApp design</h5>
                                <p class="card-text text-secondary">
                                    You can use my design as is, or you can make changes!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="~/images/services/s4.png" alt="Services-4" class="img-fluid" />
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto">seo</h5>
                                <p class="card-text text-secondary">
                                    I can increase the quality and quantity of website traffic
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
@*<section id="card-area">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Template <small>Core Features</small></h2>
                        <hr />
                    </div>
                </div>
            </div>
            <div id="card" class="row"></div>
        </div>
    </section>*@

<!--  ========================== Subscribe me Area ============================  -->
@*<div class="bg-faded pt90 pb90">
        <div class="container">
            <div class="title-heading1 mb50">
                <h3>Subscribe to our newsletter</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 mr-auto ml-auto">
                    <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                        <div class="input-group input-group-lg">

                            <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@
<!--  ====================== End Services Area =============================  -->
<section id="contact" class="bg-lightblue mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="about-title">
                    <h1 class="text-uppercase title-text">Let's Get In Touch!</h1>
                    <hr class="my-4">
                </div>
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>863-969-8248</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:electronicsmf@aol.com">Electronicsmf@aol.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials -->
<section class="members-section">
    <div class="container">
         <div class="row">
             <div class="col-lg-8 mx-auto text-center services-title">
                 <div class="about-title">
                     <h1 class="text-uppercase title-text">Meet the team</h1>
                     <hr class="my-4"/>
                 </div>
             </div>
         </div>
    </div>
    <div class="members-center container">
        <div class="member-testimonial">
            <span>&ldquo;</span>
            <p>
                Frontend-Developer plus Working with clients to develop the overall look and design of a website
                Writing website code with programming languages such as HTML,CSS, Javascript. Yes we do!!
            </p>
            <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="img-cover">
                <img src="~/images/members/profile1.jpg" />
            </div>
            <h4>BUSINESS IT</h4>
        </div>
        <div class="member-testimonial">
            <span>&ldquo;</span>
            <p>
                Frontend-Developer
                use programming languages like HTML, CSS and JavaScript to create the website’s layout, navigation, internal links, content and buttons
                Fixing any website issues or bugs that arise
            </p>
            <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="img-cover">
                <img src="~/images/members/profile2.jpg" alt="" />
            </div>
            <h4>WEB DESIGN</h4>
        </div>
        <div class="member-testimonial">
            <span>&ldquo;</span>
            <p>
                Marketing, Advertising, product design and product development plus promotional marketing campaigns
                We Understand the key website design principles and SEO optimization 
                Analytical and detail-oriented
                
            </p>
            <div class="rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="img-cover">
                <img src="~/images/members/profile3.jpg" alt="" />
            </div>
            <h4>ONLINE MARKETING</h4>
        </div>
    </div>
</section>
<!--  ========================== End Subscribe me Area ============================  -->
<section class="hours">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 parallax--bg">
                <h2>Hours</h2>
                <p>Monday-Friday: 7:30 am - 6:00 pm<p>
                <p>Saturday: 7:30 am - noon</p>
            </div>
        </div>
    </div>
</section>
<!-- footer-area -->
@section Scripts {
    <script src="~/lib/js/owl.js"></script>
    <script src="~/lib/js/parallaxbg.js"></script>
    <script src="~/lib/js/stickynav.js"></script>
    <script src="~/lib/js/cookiemessage.js"></script>

}
