/*Head Area*/

  
body {
    margin: 0;
    padding: 0;
}

.head {
    padding: 50px;
    background-image: url('./../../images/bg/abousUs-bg.jpg');
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

    .head h3 {
        text-align: center;
        font-weight: bold;
        color: #ff9800;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

        .head h3::after {
            content: '';
            display: block;
            background: #ff9800;
            height: 3px;
            width: 170px;
            margin: 20px auto 5px;
        }

.heading-title {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

    .heading-title h3 {
        position: relative;
        display: inline;
        padding: 12px 20px;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
        font-weight: 600;
        border: 2px solid #898ba2;
    }

        .heading-title h3::before {
            background: #fff;
        }

        .heading-title h3::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            display: block;
            width: 30px;
            height: 30px;
            margin-top: -16px;
            margin-left: -15px;
            background: #f4f4f4;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            border-radius: 100%;
        }

        .heading-title h3::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            display: block;
            width: 12px;
            height: 12px;
            margin-top: -7px;
            margin-left: -6px;
            background: #898ba2;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            border-radius: 100%;
        }
/* OPERATIONS */
.operations {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
    background-color: #fff;
}

.operations__tab-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.operations__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
}

.operations__tab span {
        margin-right: 1rem;
        font-weight: 600;
        display: inline-block;
}
  
.operations__content {
    display: none;
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
    padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__tab--1 {
    background-color: var(--color-secondary);
}

.operations__tab--1:hover {
        background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
    background-color: var(--color-tertiary);
    margin: 0;
}

    .operations__tab--3:hover {
        background-color: var(--color-tertiary-darker);
    }


.operations__content {
    display: none;
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
}

.operations__content--active {
    display: grid;
  
  
}

.operations__header {
    font-size: 2.25rem;
    font-weight: 500;
    align-self: center;
}

.operations__content p {
    display: flex;

}


@media (max-width: 530px) {
    .operations__tab {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media (max-width: 330px) {
    .operations__tab {
        display: flex;
        flex-wrap: wrap; 
        margin: auto;
      
    }

}

    /*--[Card-me]--*/
    #cardin {
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        box-shadow: 0 0 10px 0 rgba(83, 82, 82,0.1);
        margin-bottom: 30px;
        padding: 50px 0;
        text-align: center;
        background: #fff;
    }

        #cardin .circle {
            border: 5px solid #f3f3f5;
            border-radius: 50%;
            box-shadow: 0 0 0 2px #e7e8ec inset;
            width: 120px;
            height: 120px;
            display: inline-block;
            color: #27ae60;
            margin-bottom: 10px;
        }

            #cardin .circle img {
                display: table;
                height: 74px;
                margin: 16px auto;
                width: 74px;
            }


    .frontside .card .card-body img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .section-title {
        text-align: center;
        color: #007bff;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    .site-main .about-area .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .site-main .section-title {
        text-align: center;
        color: #007bff;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

 

    /*--[Accordion-area]--*/

    button.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        button.accordion.active, button.accordion:hover {
            background-color: #ddd;
        }

    .accordion .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
    }

   