.head h3 {
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}

    .head h3::after {
        content: '';
        display: block;
        background: #ff9800;
        height: 3px;
        width: 170px;
        margin: 20px auto 5px;
    }

.heading-title {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

    .heading-title h3 {
        position: relative;
        display: inline;
        padding: 12px 20px;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
        font-weight: 600;
        border: 2px solid #898ba2;
    }

        .heading-title h3::before {
            background: #fff;
        }

        .heading-title h3::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            display: block;
            width: 30px;
            height: 30px;
            margin-top: -16px;
            margin-left: -15px;
            background: #f4f4f4;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            border-radius: 100%;
        }

        .heading-title h3::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            display: block;
            width: 12px;
            height: 12px;
            margin-top: -7px;
            margin-left: -6px;
            background: #898ba2;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            border-radius: 100%;
        }

/*Card*/
.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.section-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.site-main .about-area .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.site-main .section-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 50px;
    text-transform: uppercase;
}
/* Banner Area */
.site-banner {
    padding: 50px;
    background-image: url('./../../images/bg/about-bg.png');
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

    .site-banner h1 {
        text-align: center;
        font-weight: bold;
        color: #ff9800;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

        .site-banner h1::after {
            content: '';
            display: block;
            background: #ff9800;
            height: 3px;
            width: 170px;
            margin: 20px auto 5px;
        }

    .site-banner .site-title h1 {
        text-shadow: 2px 2px gray;
        color: white;
        font-size: 2rem;
    }

    .site-banner .site-title h2 {
        text-shadow: 2px 2px gray;
        font-weight: bold;
        color: white;
        font-size: 1.8rem;
    }

    .site-banner .site-title p {
        color: white;
        text-shadow: 2px 2px gray;
        font-weight: bold;
        font-size: 1rem;
    }
/* End Banner Area */

.tabs {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

    /* tab list item */
    .tabs .tabs-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .tabs .tabs-list li {
            width: 100px;
            float: left;
            margin: 0px;
            margin-right: 2px;
            padding: 10px 5px;
            text-align: center;
            background-color: cornflowerblue;
            border-radius: 3px;
        }

            .tabs .tabs-list li:hover {
                cursor: pointer;
            }

            .tabs .tabs-list li a {
                text-decoration: none;
                color: white;
            }

    /* Tab content section */
    .tabs .tab {
        display: none;
        width: 96%;
        min-height: 250px;
        height: auto;
        border-radius: 3px;
        padding: 20px 15px;
        background-color: lavender;
        color: darkslategray;
        clear: both;
    }

        .tabs .tab h3 {
            border-bottom: 3px solid cornflowerblue;
            letter-spacing: 1px;
            font-weight: normal;
            padding: 5px;
        }

        .tabs .tab p {
            line-height: 20px;
            letter-spacing: 1px;
        }

/* When active state */
.active {
    display: block !important;
}

.tabs .tabs-list li.active {
    background-color: lavender !important;
    color: black !important;
}

.active a {
    color: black !important;
}

section.head h3 {
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
}

section.head p {
    color: black;
}

#myteam h3 {
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
}

.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}
/*--[Card-me]--*/
#cardin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(83, 82, 82,0.1);
    margin-bottom: 30px;
    padding: 50px 0;
    text-align: center;
    background: #fff;
}

    #cardin .circle {
        border: 5px solid #f3f3f5;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #e7e8ec inset;
        width: 120px;
        height: 120px;
        display: inline-block;
        color: #27ae60;
        margin-bottom: 10px;
    }

        #cardin .circle img {
            display: table;
            height: 74px;
            margin: 16px auto;
            width: 74px;
        }

.head {
    padding: 50px 20px;
    background-color: rgb(95, 18, 18);
}

    .head h1 {
        transform: uppercase;
        font-size: 36px;
        color: #ffffff !important;
        line-height: 1.4 !important;
    }

.head {
    font-size: 1.1rem !important;
    line-height: 1.7 !important;
    letter-spacing: 0.02rem !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
    color: #ffffff !important;
}

.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

section.about-area h1 {
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
}

section.about-area p {
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
}