/* Project Area */
.site-main .project-area {
    padding: 4rem 0;
}

    .site-main .project-area .button-group button {
        background: transparent;
        border: none;
        font: normal 500 16px/130px var(--roboto);
        text-transform: uppercase;
    }

        .site-main .project-area .button-group button + button {
            padding-left: 3rem;
        }

    .site-main .project-area .projects .item {
        height:300px;
    }
/* End Project Area */
.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pages a{
  background-color: #aaa;
  color: white;
  padding: 1rem;
  border: 1px solid #eee;
  margin: 0 0.25rem;
}

    .pages a.active {
      background-color: #ccc;
    }
    .pages a:hover {
      background-color: #999;
      text-decoration: none;
    }


ul.filters {
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

    ul.filters > li {
        list-style: none;
        display: inline-block;
    }

        ul.filters > li > a {
            display: block;
            color: #434e5e;
            text-decoration: none;
            padding: 5px 20px;
        }

            ul.filters > li > a:hover {
                background-color: #e6e9ed;
            }

        ul.filters > li.active > a {
            color: #fff;
            background-color: #28bea8;
        }

.card {
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40,190, 168,0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title {
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn {
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

    .card-btn:hover {
        background-color: #28bea8;
        color: #fff;
    }


@media (min-width: 458px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 12px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 10px;
    }

    .site-main .project-area .grid .our-project > .title h4 {
        font: normal 200 18px/10px;
    }
}
