/* OPERATIONS */
.operations {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
    background-color: #fff;
}

.operations__tab-container {
    display: flex;
    justify-content: center;
}

.operations__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
}

    .operations__tab span {
        margin-right: 1rem;
        font-weight: 600;
        display: inline-block;
    }



.operations__content {
    display: none;
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
    padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__tab--1 {
    background-color: var(--color-secondary);
}

    .operations__tab--1:hover {
        background-color: var(--color-secondary-darker);
    }

.operations__tab--3 {
    background-color: var(--color-tertiary);
    margin: 0;
}

    .operations__tab--3:hover {
        background-color: var(--color-tertiary-darker);
    }


.operations__content {
    display: none;
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
}

.operations__content--active {
    display: grid;
}

.operations__header {
    font-size: 2.25rem;
    font-weight: 500;
    align-self: center;
}

.operations__content p {
    display: flex;
}

@media (max-width: 620px) {

    /* OPERATIONS */
    .operations {
        width: 120%;
        height: auto;
        margin: 8rem -20px auto;
    }
    .operations__content--active {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        padding: 5rem;
    }

    .operations__tab {
        margin: auto;
        width: 12rem;
    }

        .operations__tab span {
            margin-right: 3rem;
            font-weight: 600;
            display: inline-block;
        }

    .operations__header {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }

    .operations__content p {
        display: grid;
        padding: 1.5rem 2rem;
        justify-content: center;
        font-size: 12px;
        align-items: center;
    }


    .operations__tab-container {
        display: grid;
        justify-content: center;
        padding: 1.5rem 2rem;
        flex-wrap: wrap;
        align-items: center;
    }
}



    @media (max-width: 320px) {

        /* OPERATIONS */
        .operations {
            width: 150%;
            height: auto;
            margin: 80px -50px auto;
        }

        .operations__content--active {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center;
            padding: 5rem;
        }

        .operations__tab {
            margin: auto;
            width: 12rem;
        }

            .operations__tab span {
                margin-right: 1rem;
                font-weight: 600;
                display: inline-block;
            }

        .operations__header {
            font-size: 15px;
            font-weight: 500;
            text-align: center;
        }

        .operations__content p {
            display: grid;
            padding: 1.5rem 2rem;
            justify-content: center;
            font-size: 12px;
            align-items: center;
        }


        .operations__tab-container {
            display: grid;
            justify-content: center;
            padding: 1.5rem 2rem;
            flex-wrap: wrap;
            align-items: center;
        }
    }
